<meta charset="UTF-8">
{% extends 'base.html' %}
{% load static %}

{% block title %}
    Natlet
{% endblock %}

{% block logo %}
    <div class="header-border d-flex justify-content-center justify-content-sm-center justify-content-md-start mt-2">
        <div class="logo d-inline-flex d-sm-flex d-md-inline">
                <a href="{% url 'index_page_url' %}" style="outline: none;"><img src="{% static 'images/Log1.png' %}"/></a>
        </div>
        <div class="title d-none d-sm-none d-md-block d-xl-block">
            <h2 class="title-top">Легкая атлетика <span>Нововолынск</span></h2>
            <small class="title-desc-bottom">Официальный сайт ДЮСШ Нововолынск, отделение легкой атлетики</small> 
        </div>
    </div>
{% endblock %}