{% extends 'novatlet_temp/base_page.html' %}
{% load static %}

{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    {% include 'novatlet_temp/includes/modal_danger.html' %}
    <script>
        if (document.location.href.indexOf('alert_mess=True') != -1) {
            $('#AlertDangerModal').modal('show')
        }

        if (document.location.href.indexOf('alert_mess=False') != -1) {
            $('#AlertModal').modal('show')
        }
    </script>

    <h3>{{ post.title }}</h3>

        {% for tag in post.tags.all %}
            <p class="tag-in-post"><a href="{{ tag.get_absolute_url }}">{{ tag.tag_title }}</a> </p>
        {% endfor %}

    <p>{% autoescape off %} {{ post.body }} {% endautoescape %}</p>
    <p> {{ post.body }}</p>
    <!-- <img src="{{ post.post_img.url }}" alt=""> -->
    {% include 'novatlet_temp/includes/image-card.html' %}
    <p> {{ post.body }}</p>

    {% include 'novatlet_temp/includes/slider.html' %}

    <hr class="mt-5 mb-5 hr-grad">


    <h5>Комментарии:</h5>



    <form action="{% url 'comment_action_url' %}" method="post", class="form-model mb-5">
        {% csrf_token %}

        {% for comment_field in comment_form %}

        
        {{ comment_field.label }}
        {{ comment_field }}
        
        {% endfor %}
        
        <div class="d-inline-flex">
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha float-left mt-2" data-sitekey="6Lf92-EUAAAAANywzHdBhjgQ3GrFf_apwe0ZDWqL"></div>
        </div>
        <button class="custom-btn float-right mt-2" name="make_comment" type="submit">Залишити коментар!</button>

    </form>

    {% for comment_instanse in comment %}
        {% include 'novatlet_temp/includes/comment.html' %}
    {% endfor %}



{% endblock %}



{% block sidebar %}
    {% for sp in get_sidebar_posts %}
        {% include 'novatlet_temp/includes/sidebar_card_template.html' %}
    {% endfor %}
{% endblock %}

