{% extends 'novatlet_temp/base_page.html' %}
{% load static %}

{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}

    <h3>{{ post.title }}</h3>
    <p> {{ post.body }}</p>
    <p> {{ post.body }}</p>
    <img src="{{ post.post_img.url }}" alt="">
    <p> {{ post.body }}</p>


    {% include 'novatlet_temp/includes/slider.html' %}

{% endblock %}


{% block sidebar %}
    {% include 'novatlet_temp/includes/sidebar_card_template.html' %}
{% endblock %}