{% extends 'base.html' %}
{% load static %}


{% block title %}
    Page not found - {{ block.super }}
{% endblock %}

{% block body_style %}
    <style>
        body {
            background-image: url("{% static 'images/bg-image.jpg' %}");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
        }

        .card-title {
            text-align: center; 
            text-align: -moz-center; 
            vertical-align: baseline; 
        }

        .btn {
            color: #fff;
            background-color: #28a745;
            border-color: #28a745;
            border-radius: 0.15rem;
        }

        .card {
            background-color: rgba(255, 255, 255, 0.8);
        }
    </style>
{% endblock %}

{% block handler %}
    <div class="container-fluid mt-2">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="logo d-inline">
                    <img src="{% static 'images/Log1.png' %}"/>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-auto">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">Уууупс.. виглядає як
                                <span style="font-size: 4rem; vertical-align: middle; margin-right: .4rem; margin-left: .4rem"> 404</span>error</h5>
                        </div>
                        <hr>
                            <p class="card-text">Щось пішло не так!</p>
                        <p style=><b>Що Ви можете зробити?</b></p>
                        <p>1) Перевірте чи URL був записаний правильно;<br>
                           2) Спробуйте оновити сторінку.
                        Якщо все гаразд, а помилка з'являється - натисніть на цю велику зелену кнопку<br>
                        щоб повернутися на головну.</p>
                        <a href="{% url 'index_page_url' %}" class="btn btn-success">Fix it!</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}