{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <!-- End bootstrap -->

    <!-- Favicon -->
    <link type="image/png" rel="icon" href="{% static 'favicon.ico' %}">
    <!-- End favicon -->
    <title>
        {% block title %}
            Home
        {% endblock %}
    </title>
    {% block header %}{% endblock %}
    {% block body_style %}
    {% endblock%}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{% url 'index_page_url' %}">News</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'tag_list_url' %}">Our tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'athlete_list_url' %}">Hale of fame</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_p_url' %}">Contacts</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Competition
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Calendar</a>
                  <a class="dropdown-item" href="#">Future competitions</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'archive_url' %}">Archive</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control input-search-rad" type="search" placeholder="Search" aria-label="Search">
            <button class="custom-btn btn-go" type="submit">Go</button>
        </form>
    </div>
</nav>

    <!-- <div class="row justify-content-start">
        <div class="col-md-12"></div>
        <div class=" logo col-12 col-sm-12 col-md-3 col-xl-2">
            <img src="{% static 'images/Log1.png' %}"/>
        </div>
        <div class="d-none d-sm-none d-md-block col-md-6 col-xl-10">
            <h1 class="title align-top">Легкая атлетика</h1>
            <span class="align-bottom">Официальный сайт ДЮСШ Нововолынск, отделение легкой атлетики</span>
        </div>
    </div> -->
    
    {% block logo %}{% endblock %}
    {% block handler %} {% endblock %}
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 col-lg-7">
                {% block content %}<!--Content will be here-->{% endblock %}
            </div>
            <div class="col-lg-3 d-none d-md-none d-lg-block">
                {% block sidebar %}<!--Sidebar-->{% endblock %}
            </div>
        </div>
    </div>

    <footer id="footer" class="text-center navbar-fixed-bottom">&#169 <a href="#">palachinto<span style="color: #1e82df">sh</span></a> {% now "Y" %}</footer>
</body>
</html>