{% extends 'novatlet_temp/base_page.html' %}
{% load static %}

{% block title %}
    Ours athlete - {{ block.super }}
{% endblock %}

{% block header %}
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com"> -->
    <!-- <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script> -->
    <META HTTP-EQUIV="Access-Control-Allow-Origin" CONTENT="127.0.0.1:8000">
{% endblock %}


{% block content %}
    <label style="margin-right: 15px;">Фильтр: </label>
    <form class="form-inline" style="align-items: baseline;" action="{% url 'athlete_list_url' %}" method="post">
        {% csrf_token %}
        
        <label style="margin-right: 15px;">Пол: </label>
        {{ filter_row.gender }}

        <label style="margin-inline: 20px 15px;">Iм'я: </label>
        {{ filter_row.name }}


        {% if field_row.errors %}
            <div class="alert alert-denger">
                {{ field_row.errors }}
            </div>
        {% endif %}

        <label style="margin-inline: 20px 15px;">Дата народження: </label>
        {{ filter_row.birthday }}
        

        <button type="submit" class="custom-btn">Знайти</button>
    </form>


    <div class="mt-4">
        {% if av_content %}
        {% include 'athletes/includes/alert_success.html' %}
        {% elif av_content <= 0 %}
        {% include 'athletes/includes/alert.html' %}
        {% endif %}
    </div>




    {% for ath in get_athlete %}
        {% include 'athletes/includes/athlete_card.html' %}
    {% endfor %}

        
{% endblock %}