{% extends 'novatlet_temp/base_page.html' %}
{% load static %}

{% block header %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}


{% block title %}
    Найкращi результати - {{ block.super }}
{% endblock %}

{% block athlete_scores %}
    {% include 'athletes/includes/score_table_modal.html' %}

    <!-- <form method="get" id="TestForm" >
            {{ test_form.as_p }} -->
            <!-- <a href="#" class="click" >submit</a> -->
            <!-- <input type="button" class="click" name="girls" value="Submit" />
    </form> -->

    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <h4>Найкращi результати наших вихованцiв</h4>
        </div>
        <hr class="mb-5">
        <div class="row justify-content-center pt-3">
            <div class="col-md-8">
                <div class="card-deck">
                    {% for athlete_score in best_score %}
                    <div class="card">
                        <a href="#" class="click" name="{{ athlete_score.slug }}"  style="align-self: center; width: 70%;"><img src="{{ athlete_score.picture.url }}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ athlete_score.name }}</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                                content</p>
                            <p class="card-text"><small class="text-muted">{{ athlete_score.last_update|date }}</small></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div> 
        </div>
    </div> 

    <script type="text/javascript">
        $('.click').click( function (e) {
            var name;
            name = $(this).attr('name')

            $.ajax({
                type: "GET",
                url: "show_table/",
                contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                
                data: {
                    table_name: name
                },
                success: function (data) {
                    
                    var elem = document.getElementById('ModalContent');
                    elem.innerHTML = data.table;
                    var modalShow = document.getElementById('ScoreTableModal');
                    function func () { 
                        $('#ScoreTableModal').modal('show'); 
                    }
                    func();
                }
            })
        });
    </script>
    
{% endblock %}
